h1{
    color:#950740;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    text-align:center;
    background-color:#1a1a1d;
    color:white;
}
img#pizza{
    border: lightgray 2px solid;
    margin-bottom:20px;
    margin-top:30px;
}
img#chefP{
        position: absolute;
        top: 8px;
        right: 500px;
        height:100px;
        width:70px;
}
h1#princeton{
    margin-top:50px;
}